md-sidenav {
    .menu-heading {
        display: block;
        line-height: 32px;
        margin: 0;
        padding: 8px 16px 0;
        text-align: left;
        width: 100%;
        color: rgba(0, 0, 0, 0.54);
    }
    nav {
        padding-top: 20px;
        ul {
            margin: 0;
            padding: 0;
            transition: transform 0.3s ease-in-out;
            -webkit-transition: -webkit-transform 0.3s ease-in-out;
            li.heading,
            li:last-child {
                border-bottom: none;
            }
            li {
                border-bottom: 1px solid rgba(255,255,255,0.1);
                list-style: none;
                margin: 0;
                padding: 0;
                .md-button {
                    margin: 0;
                    border-radius: 0;
                    display: block;
                    padding: 0 16px 0 32px;
                    text-transform: uppercase;
                    text-rendering: optimizeLegibility;
                    font-weight: 500;
                    border-radius: 0;
                    color: black;
                    cursor: pointer;
                    font-family: Roboto,"Helvetica Neue",sans-serif;
                    align-items: inherit;
                    line-height: 40px;
                    margin: 0;
                    max-height: 40px;
                    overflow: hidden;
                    padding: 0 16px;
                    text-align: left;
                    text-decoration: none;
                    white-space: normal;
                    width: 100%;
                    md-icon {
                        transition: transform 0.3s ease-in-out;
                        -webkit-transition: -webkit-transform 0.3s ease-in-out;
                    }
                }
                ul {
                    height: 0;
                    overflow: hidden;
                    background: rgba(255,255,255,0.05);
                    overflow: hidden;
                    position: relative;
                    z-index: 1;
                    -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
                    -webkit-transition-property: all;
                    -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
                    -moz-transition-property: all;
                    transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
                    transition-property: all;
                    li {
                        background: none;
                    }
                }
            }
            li.active {
                background: rgb(211, 224, 246);
                ul {
                    li {
                        background: rgba(255,255,255,0.5);
                        span {
                            color: rgb(59,120,231) !important;
                        }
                    }
                }
                .md-button {
                    md-icon {
                        transform: rotate(180deg);
                        -webkit-transform: rotate(180deg);
                    }
                }
                ul {}
            }
        }
    }
}
