<li ng-class="{ 'heading' : !item.children.length && !item.state, 'active': item.active }">
    <h2 ng-if="!item.children.length && !item.state" class="menu-heading md-subhead ng-binding ng-scope">
        {{item.title}}
    </h2>
    <md-button ng-if="item.children.length" ng-click="toggle()">
        <div flex="" layout="row" ng-if="item.children.length" class="layout-row flex">
            <span>{{item.title}}</span>
            <span flex="" class="flex"></span>
            <span aria-hidden="true" class="md-toggle-icon">
                <md-icon aria-hidden="true">
                    keyboard_arrow_down
                </md-icon>
            </span>
        </div>
    </md-button>
    <md-button ng-if="item.state" ui-sref="{{item.state}}">
        <md-icon ng-if="item.icon">{{item.icon}}</md-icon>
        <span>{{item.title}}</span>
    </md-button>

    <ul ng-if="item.children.length" style="height: {{toggleHeight}}px">
        <li ng-repeat="sub in item.children">
            <md-button ng-if="sub.state" ui-sref="{{sub.state}}">
                <md-icon ng-if="sub.icon">{{sub.icon}}</md-icon>
                <span>{{sub.title}}</span>
            </md-button>
        </li>
    </ul>
</li>
