<div ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="General">
                <div class="dashboard-content">

                    <!-- <div class="main-chart md-whiteframe-4dp">
                        <div class="c3-chart">
                            <c3chart bindto-id="chart1">
                                <chart-column column-id="data 1" column-color="#1193FB" column-values="30,200,100,400,150,250" column-type="spline"/>
                                <chart-grid show-x="true" show-y="true"></chart-grid>
                            </c3chart>
                        </div>
                        <footer></footer>
                    </div> -->

                    

                </div>
            </md-tab>
            <md-tab label="Finance">
                <div class="dashboard-content">



                </div>
            </md-tab>
        </md-tabs>
    </md-content>
</div>
