<div layout="column" ng-cloak style="height: 100%;">
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left md-primary md-whiteframe-z2 primary-menu" md-component-id="menu" md-is-locked-open="$mdMedia('gt-sm')">
            <md-toolbar class="header-toolbar">
                <div class="md-toolbar-tools">
                    <h2>
                        <span>Cirons</span>
                    </h2>
                </div>
            </md-toolbar>

            <main-menu></main-menu>
        </md-sidenav>
        <md-content class="main-content" flex>
            <md-toolbar class="header-toolbar">
                <div class="md-toolbar-tools">
                    <md-button ng-click="app.toggleMenu()" class="md-icon-button" hide-gt-sm>
                        <md-icon>menu</md-icon>
                    </md-button>
                    <md-input-container class="search-bar" md-no-float>
                        <md-icon>search</md-icon>
                        <input type="text" placeholder="Search...">
                    </md-input-container>
                    <span flex></span>

                    <md-button class="md-icon-button md-primary">
                        <md-icon md-svg-icon="bullhorn" style="color: white;" aria-label="Notifications"></md-icon>
                    </md-button>

                    <md-button class="md-icon-button md-primary">
                        <md-icon md-svg-icon="exclamation" style="color: white;" aria-label="Warning"></md-icon>
                    </md-button>

                    <md-button class="md-icon-button md-primary">
                        <md-icon md-svg-icon="alarm" style="color: white;" aria-label="Alarm"></md-icon>
                    </md-button>

                    <md-menu md-position-mode="target-right target">
                        <md-button ng-click="$mdOpenMenu($event)">
                            Philip Andersson
                            <md-icon>account_circle</md-icon>
                        </md-button>
                        <md-menu-content width="4">
                            <md-menu-item>
                                <md-button>
                                    <div layout="row">
                                        <p flex>My Orders</p>
                                    </div>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="$root.logout()">
                                    <div layout="row">
                                        <p flex>Logout</p>
                                    </div>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </md-toolbar>
            <div layout="column" layout-fill layout-align="top left">

                <md-subheader class="md-primary breadcrumb">Dashboard</md-subheader>
                <ui-view></ui-view>

            </div>
            <div flex></div>
        </md-content>
        <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="cart">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>
                        <span>
                            <md-icon>shopping_cart</md-icon>
                            Open Another
                        </span>
                    </h2>
                    <span flex></span>
                    <md-button aria-label="Checkout" class="md-accent md-raised">
                        Hey
                        <md-icon>credit_card</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-content layout-padding>

                <!-- <ng-include src="'./components/cart/cart.mini.view.html'"></ng-include> -->

            </md-content>
        </md-sidenav>
    </section>
</div>
<add-toolbar></add-toolbar>
