<div layout="column" ng-cloak style="height: 100%;">
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left md-primary md-whiteframe-z2 primary-menu" md-component-id="menu" md-is-locked-open="$mdMedia('gt-sm')">
            <md-toolbar class="header-toolbar md-whiteframe-3dp">
                <div class="md-toolbar-tools">
                    <h2>
                        <span>Cirons 2016</span>
                    </h2>
                </div>
            </md-toolbar>

            <main-menu></main-menu>
        </md-sidenav>
        <md-content class="main-content" flex>
            <md-toolbar class="header-toolbar md-whiteframe-3dp">
                <div class="md-toolbar-tools">
                    <md-button ng-click="app.toggleMenu()" class="md-icon-button" hide-gt-sm>
                        <md-icon>menu</md-icon>
                    </md-button>
                    <md-input-container class="search-bar" md-no-float hide-xs>
                        <md-icon>search</md-icon>
                        <input type="text" placeholder="Search...">
                    </md-input-container>
                    <span flex></span>

                    <md-button class="md-icon-button md-primary">
                        <md-icon md-svg-icon="bullhorn" style="color: white;" aria-label="Notifications"></md-icon>
                    </md-button>

                    <md-button class="md-icon-button md-primary">
                        <md-icon md-svg-icon="exclamation" style="color: white;" aria-label="Warning"></md-icon>
                    </md-button>

                    <md-button class="md-icon-button md-primary">
                        <md-icon md-svg-icon="alarm" style="color: white;" aria-label="Alarm"></md-icon>
                    </md-button>

                    <md-menu md-position-mode="target-right target" hide-sm hide-xs>
                        <md-button ng-click="$mdOpenMenu($event)">
                            <md-icon>account_circle</md-icon>
                            Philip Andersson
                        </md-button>
                        <md-menu-content width="4">
                            <md-menu-item>
                                <md-button>
                                    <div layout="row">
                                        <p flex>Edit profile</p>
                                    </div>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button>
                                    <div layout="row">
                                        <p flex>Settings</p>
                                    </div>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="$root.logout()">
                                    <div layout="row">
                                        <p flex>Logout</p>
                                    </div>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </md-toolbar>
            <div layout="column" class="content" layout-fill layout-align="top left">
                <div ui-view></div>
            </div>
            <div flex></div>
        </md-content>
    </section>
</div>
<add-toolbar></add-toolbar>
