<div class="carded">
    <header class="header"></header>
    <div class="inner">
        <md-sidenav md-is-locked-open="$mdMedia('gt-md')" md-component-id="main-sidenav">
            <header>
                <h1>{{title || plural}}</h1>
            </header>
            <aside>

                <md-button class="item" ng-click="setSelectedStep(null)" ng-class="{'selected': selectedStep == null}">
                    <md-icon md-svg-icon="view-headline"></md-icon>
                    <span>All {{plural}}</span>
                </md-button>

                <div ng-if="steps.length">
                    <h3>Filters</h3>
                    <md-button class="item" ng-repeat="step in steps" ng-click="setSelectedStep(step.id)" ng-class="{'selected': selectedStep == step.id}">
                        <md-icon md-svg-icon="checkbox-blank-circle" class="step-color {{step.id}}"></md-icon>
                        <span>{{step.title}}</span>
                    </md-button>
                </div>

            </aside>
        </md-sidenav>

        <div class="content-col">
            <header>

                <div class="search-bar md-whiteframe-3dp">
                    <md-icon md-svg-icon="magnify"></md-icon>
                    <input type="text" ng-model="searchText" placeholder="Search {{plural}}...">
                </div>

            </header>
            <div class="content-card md-whiteframe-3dp">
                <md-list ng-show="items.length">
                    <div ng-repeat="item in filteredItems() | filter: listFilter" ng-include="itemTemplate"></div>
                </md-list>
                <div class="list-loader" ng-if="items.length < 1">
                    <md-progress-circular md-mode="indeterminate" ng-disabled="items.length" class="md-primary" md-diameter="70px"></md-progress-circular>
                    <span>
                        {{loadingText}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
