@import '../../node_modules/angular-material/angular-material.scss';
@import '../../node_modules/sass-material-colors/sass/sass-material-colors';
$primary_color: material-color('blue', '600');
$accent_color: material-color('light-blue', '900');
$toolbar_height: 50px;
@import './menu.scss';
@import '../components/dashboard/style.scss';
@import './login.scss';
@import './colors.scss';
@import './carded.scss';
@import './backgrounds.scss';
* {
    text-rendering: optimizeLegibility;
}
.add-toolbar {
    position: absolute;
    bottom: 10px;
    right: 0;
    z-index: 999;
    transition: width 200ms ease;
    &.md-is-open {
        // width: 100%;
    }
}
md-tabs {
    md-tabs-wrapper {
        background-color: white;
    }
}
md-toolbar.header-toolbar {
    height: $toolbar_height;
    min-height: $toolbar_height;
}
.breadcrumb {
    border-bottom: 1px solid #e1e1e1;
}
.search-bar {
    margin: 0;
    .md-errors-spacer {
        display: none !important;
    }
    &.md-input-focused {
        md-icon {
            color: white !important;
        }
        .md-input {
            border-color: white !important;
            color: white !important;
        }
    }
    .md-input {
        border-color: rgba(0,0,0,0);
        color: white !important;
        font-size: 16px !important;
        &::-webkit-input-placeholder {
            color: rgba(255,255,255,0.3);
        }
        &:-moz-placeholder {
            /* FF 4-18 */
            color: rgba(255,255,255,0.3);
        }
        &::-moz-placeholder {
            /* FF 19+ */
            color: rgba(255,255,255,0.3);
        }
        &:-ms-input-placeholder {
            /* IE 10+ */
            color: rgba(255,255,255,0.3);
        }
    }
}
md-list-item.item-list {
    .md-list-item-small-text {
        display: inline-block;
        margin-left: 3px;
        margin-right: 29px;
        margin-top: 16px;
    }
}
.header {
    height: 160px;
    min-height: 160px;
    max-height: 160px;
    padding: 24px;
    background-image: url("/img/backgrounds/header-bg.png");
    background-size: cover;
    background-color: $accent_color;
    h1 {
        color: white;
        font-size: 32px;
        font-family: Roboto;
        font-weight: 300;
    }
}
// @import './loader.scss';
//
// @mixin transition() {
//     -webkit-backface-visibility: hidden;
//     -webkit-perspective: 1000px;
// }
//
// @mixin easingOutQuadTimingTransition($duration) {
//     @include transition();
//     transition-property: none;
//     transition-duration: $duration;
//     transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
// }
//
// // Slide Up
// .animate-slide-up {
//     @include transition();
//     transition: all 300ms ease;
//     opacity: 1;
//
//     // Enter & Leave
//     &.ng-enter {
//         opacity: 0;
//
//         &.ng-enter-active {
//             transition-property: all;
//             transform: translateY(0);
//             opacity: 1;
//         }
//     }
//
//     &.ng-leave {
//         transform: translateY(0);
//         opacity: 1;
//
//         &.ng-leave-active {
//             transition-property: all;
//             opacity: 0;
//         }
//     }
//
//     // Hide
//     &.ng-hide {
//         opacity: 0;
//     }
//
//     &.ng-hide-add-active,
//     &.ng-hide-remove-active {
//         transition-property: all;
//     }
// }
.main-content {
    display: flex !important;
    flex-direction: column;
    .header-toolbar {
        flex: 0 0 auto;
    }
    .content {
        flex: 1 1 auto;
        overflow: hidden;
        height: auto !important;
        max-height: none !important;
        min-height: 0 !important;
    }
}
[ui-view] {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
}
