@import '../../node_modules/angular-material/angular-material.scss';
@import '../components/menu/style.scss';

$toolbar_height: 50px;
$menu_width: 250px;

md-fab-toolbar {
    position: absolute;
    bottom: 10px;
    right: 0;
    z-index: 999;
    transition: width 200ms ease;
    &.md-is-open {
        // width: 100%;
    }
}
md-toolbar.header-toolbar {
    height: $toolbar_height;
    min-height: $toolbar_height;
}
.search-bar {
    margin: 0;
    .md-errors-spacer {
        display: none !important;
    }
    &.md-input-focused {
        md-icon {
            color: white !important;
        }
        .md-input {
            border-color: white !important;
            color: white !important;
        }
    }
    .md-input {
        border-color: rgba(0,0,0,0);
        color: white !important;
        font-size: 16px !important;
        &::-webkit-input-placeholder {
            color: rgba(255,255,255,0.3);
        }
        &:-moz-placeholder {
            /* FF 4-18 */
            color: rgba(255,255,255,0.3);
        }
        &::-moz-placeholder {
            /* FF 19+ */
            color: rgba(255,255,255,0.3);
        }
        &:-ms-input-placeholder {
            /* IE 10+ */
            color: rgba(255,255,255,0.3);
        }
    }
}

.primary-menu {
    width: $menu_width;
}
