.january {
    background-image: url("/img/backgrounds/january.jpg");
    background-size: cover;
}

.february {
    background-image: url("/img/backgrounds/february.jpg");
    background-size: cover;
}

.march {
    background-image: url("/img/backgrounds/march.jpg");
    background-size: cover;
}

.april {
    background-image: url("/img/backgrounds/april.jpg");
    background-size: cover;
}

.may {
    background-image: url("/img/backgrounds/may.jpg");
    background-size: cover;
}

.june {
    background-image: url("/img/backgrounds/june.jpg");
    background-size: cover;
}

.july {
    background-image: url("/img/backgrounds/july.jpg");
    background-size: cover;
}

.august {
    background-image: url("/img/backgrounds/august.jpg");
    background-size: cover;
}

.september {
    background-image: url("/img/backgrounds/september.jpg");
    background-size: cover;
}

.october {
    background-image: url("/img/backgrounds/october.jpg");
    background-size: cover;
}

.november {
    background-image: url("/img/backgrounds/november.jpg");
    background-size: cover;
}

.december {
    background-image: url("/img/backgrounds/december.jpg");
    background-size: cover;
}
