.carded {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
    header.header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 1;
        padding: 0;
        height: 200px;
        min-height: 200px;
        max-height: 200px;
        box-shadow: inset 0 -3px 10px 0 rgba(0, 0, 0, 0.12);
    }
    .inner {
        // width: 100%;
        // height: 100%;
        // top: 0;
        // left: 0;
        // right: 0;
        // bottom: 0;
        // z-index: 2;
        // position: absolute;
        // overflow: hidden;
        display: flex;
        flex-direction: row;
        flex: 1;
        height: 100%;
        min-height: 100%;
        width: 100%;
        md-sidenav {
            position: static;
            z-index: 2;
            width: 220px;
            min-width: 220px;
            max-width: 220px;
            display: flex;
            background: none;
            header {
                height: 140px;
                margin-bottom: 60px;
                display: flex;
                flex-direction: row;
                align-items: center;
                flex: 0 0 auto;
                position: relative;
                h1 {
                    color: white;
                    font-size: 32px;
                    line-height: 32px;
                    font-weight: 300;
                    display: block;
                    padding-left: 30px;
                }
            }
            aside {
                background: #eee;
                flex: 1 1 auto;
                width: 100%;
                overflow: auto;
                padding-top: 40px;
                .item {
                    display: flex;
                    flex-direction: row;
                    position: relative;
                    cursor: pointer;
                    text-align: left;
                    margin: 0;
                    padding: 0 24px;
                    text-transform: none;
                    line-height: 48px;
                    max-height: 48px;
                    height: 48px;
                    width: 100%;
                    border-radius: 0;
                    span {
                        flex: 1 1 auto;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 1;
                    }
                    &.selected {
                        background-color: rgba(0,0,0,.06);
                    }
                    md-icon {
                        flex: 0 0 auto;
                        margin: 0 16px 0 0;
                        font-size: 16px;
                        width: 16px;
                        height: 16px;
                        line-height: 16px;
                    }
                }
                h3 {
                    font-size: 13px;
                    border-top: 1px solid rgba(0,0,0,.12);
                    font-weight: 500;
                    margin-top: 8px;
                    position: relative;
                    text-align: left;
                    margin: 0;
                    padding: 0 24px;
                    text-transform: none;
                    line-height: 48px;
                    max-height: 48px;
                    height: 48px;
                }
            }
        }
        .content-col {
            display: flex;
            flex: 1 1 auto;
            z-index: 2;
            flex-direction: column;
            margin-right: 37px;
            header {
                height: 140px;
                display: flex;
                flex-direction: row;
                align-items: center;
                flex: 0 0 auto;
                justify-content: center;
                .search-bar {
                    width: 100%;
                    background: white;
                    height: 50px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    md-icon {
                        height: 25px;
                        width: 25px;
                        margin-left: 15px;
                        flex: 0 0 auto;
                        margin-right: 10px;
                        color: material-color('grey', '600');
                    }
                    input {
                        height: 50px;
                        max-height: 50px;
                        border: none;
                        width: 100%;
                        flex: 1 1 auto;
                        max-width: 100%;
                        line-height: 50px;
                        background: none;
                        padding-left: 15px;
                        &:focus {
                            outline: none;
                        }
                    }
                }
            }
            .content-card {
                background: white;
                display: flex;
                flex: 1 1 auto;
                z-index: 2;

                md-list {
                    width: 100%;
                    overflow-y: auto;
                }
            }
        }
    }
}
