.step-color {
    &.delivered, &.paid {
        color: material-color('green', '500');
    }
    &.draft, &.pending {
        color: material-color('blue', '500');
    }
    &.booked {
        color: material-color('light-blue', '500');
    }
    &.sent {
        color: material-color('orange', '500');
    }
    &.shipped {
        color: material-color('green', '300');
    }
}
