$menu_text_color: rgba(255,255,255,.7);
$menu_text_color_heading: rgba(255, 255, 255, 0.54);
$menu_bg: #2D323E;
$menu_active_bg: rgba(255,255,255, 0.1);
$menu_sub_bg: rgba(0,0,0,0.2);
$menu_width: 250px;
md-sidenav {
    background: $menu_bg;
    width: $menu_width;
    .menu-heading {
        display: block;
        line-height: 32px;
        margin: 0;
        padding: 8px 16px 0;
        text-align: left;
        width: 100%;
        color: $menu_text_color_heading;
    }
    nav {
        overflow: hidden;
        padding-top: 20px;
        ul {
            margin: 0;
            padding: 0;
            transition: transform 0.3s ease-in-out;
            -webkit-transition: -webkit-transform 0.3s ease-in-out;
            li.heading,
            li:last-child {
                border-bottom: none;
            }
            li {
                list-style: none;
                margin: 0;
                padding: 0;
                .md-button {
                    margin: 0;
                    border-radius: 0;
                    display: block;
                    text-transform: uppercase;
                    text-rendering: optimizeLegibility;
                    font-weight: 500;
                    border-radius: 0;
                    color: $menu_text_color;
                    cursor: pointer;
                    font-family: Roboto,"Helvetica Neue",sans-serif;
                    align-items: inherit;
                    line-height: 40px;
                    margin: 0;
                    max-height: 40px;
                    overflow: hidden;
                    padding: 0 6px 0 16px;
                    text-align: left;
                    text-decoration: none;
                    white-space: normal;
                    width: 100%;
                    text-transform: none;
                    md-icon {
                        color: $menu_text_color;
                        transition: transform 0.3s ease-in-out;
                        -webkit-transition: -webkit-transform 0.3s ease-in-out;
                    }
                    md-icon.chevron-right {
                        height: 18px;
                        color: rgba(255,255,255,0.3);
                    }
                }
                ul {
                    height: 0;
                    overflow: hidden;
                    background: rgba(255,255,255,0.05);
                    overflow: hidden;
                    position: relative;
                    z-index: 1;
                    -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
                    -webkit-transition-property: all;
                    -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
                    -moz-transition-property: all;
                    transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
                    transition-property: all;
                    li {
                        background: none;
                    }
                }
            }
            li.active {
                background: $menu_sub_bg;
                > button {
                    background: $menu_active_bg;
                }
                ul {
                    li {
                        background: $menu_sub_bg;
                        span {
                            color: $menu_text_color !important;
                        }
                    }
                }
                .md-button {
                    md-icon {
                        transform: rotate(90deg);
                        -webkit-transform: rotate(90deg);
                    }
                }
                ul {}
            }
        }
    }
}
