<div class="carded">
    <header class="header"></header>
    <div class="inner">
        <md-sidenav md-is-locked-open="$mdMedia('gt-md')" md-component-id="main-sidenav">
            <h1>Invoices</h1>
        </md-sidenav>

        <!-- <md-list-item class="noright md-2-line item-list" ng-repeat="invoice in list.invoices">
            <md-checkbox ng-model="message.selected"></md-checkbox>

            <div class="md-list-item-text">
                <h3>
                    <md-icon md-svg-icon="checkbox-blank-circle" class="step-color" ng-class="invoice.step"></md-icon>
                    {{invoice.contact.name}}
                </h3>
                <p>
                    {{invoice.date}} <span ng-if="invoice.invoice_no != ''">(Inv No. #{{invoice.invoice_no}})</span>
                </p>
            </div>
            <md-button class="md-secondary md-icon-button">
                <md-icon class="md-secondary">add</md-icon>
            </md-button>
        </md-list-item> -->
    </div>
</div>
